# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.env/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Generated Output Files
# ==========================
brochure.html
brochure.pdf
bro.html
bro.pdf

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# IDE Files
# ==========================
.idea/
.vscode/